<div class="row search-input">
  <form [formGroup]="form">
    <input formControlName="keyword" placeholder="Enter keyword" />
    <button type="button" (click)="onSearch()">Search</button>
  </form>
</div>

<ng-container *ngFor="let item of searchResults; let i = index">
  <div class="todo-item-container border rounded p-4">
    <div class="d-flex justify-content-end align-items-center">
      <label class="me-2">Code:</label>
      <span>{{ item.code }}</span>
    </div>
    <div class="d-flex justify-content-end align-items-center">
      <label class="me-2">Title:</label>
      <span>{{ item.title }}</span>
    </div>
    <div class="d-flex justify-content-end align-items-center">
      <label class="me-2">Description:</label>
      <span>{{ item.description }}</span>
    </div>
    <div class="d-flex justify-content-end align-items-center">
      <label class="me-2">Content:</label>
      <span>{{ item.content }}</span>
    </div>
    <div class="d-flex justify-content-end align-items-center">
      <label class="me-2">Status:</label>
      <span>{{ item.status }}</span>
    </div>
  </div>
</ng-container>
